//====================================================================================================
.header {
  &__top {
    background-color: $mainColor;
    min-height: 95px;
    color: #fff;
    display: flex;
    align-items: center;
  }
  &__top-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 545px) {
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
  }
}
.top-header {
  .block-logo {
    flex: 0 0 321px;
    @include adaptiv-value("margin-right", 80, 10, 1);
    @media (max-width: 545px) {
      margin: 25px auto;
      flex: 1 1 auto;
    }
  }
  .block-content {
    flex: 1 1 auto;
    justify-content: space-between;
    @media (max-width: 545px) {
      margin: 0 0 32px 0;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 142.19%;
  }
  &__text {
    margin: 0 0 0 21px;
  }
  &__time {
    padding: 0 0 0 30px;
    position: relative;
    @media (max-width: $md1+px) {
      display: none;
    }
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      left: 0;
      background-image: url("../img/icons/clock.svg");
      background-repeat: no-repeat;
      background-size: cover;
      width: 21px;
      height: 21px;
    }
  }
  &__adress {
    position: relative;
    padding: 0 0 0 30px;
    max-width: 175px;
    @media (max-width: $md1+px) {
      display: none;
    }
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      left: 0;
      background-image: url("../img/icons/marker.svg");
      background-size: cover;
      background-repeat: no-repeat;
      width: 21px;
      height: 21px;
    }
  }
  &__phone {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 0 0 0 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 156.69%;
    @media (max-width: 545px) {
      margin: 0 auto;
    }
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      left: 0;
      background-image: url("../img/icons/phone.svg");
      background-size: cover;
      background-repeat: no-repeat;
      width: 21px;
      height: 21px;
    }
  }
  &__btn {
    color: #fff;
    font-weight: 700;
    padding: 8px 25px;
    @media (max-width: $md2+px) {
      display: none;
    }
  }
  &__number {
    color: #fff;
  }
}

.header__bottom {
  background-color: #f3f3f3;
  &-body {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 76px;
  }
}
.menu {
  &__list {
    display: flex;
    align-items: center;
    @media (max-width: $md2+px) {
      position: absolute;
      left: 0;
      top: 100%;
      flex-direction: column;
      visibility: hidden;
      opacity: 0;
      transform: translateX(-100%);
      transition: all 0.3s ease;
      align-items: flex-start;
      padding: 15px;
      width: 300px;
      background-color: #f3f3f3;
      &-item {
        border-top: 1px dotted $darkGrayColor;
        width: 100%;
        padding: 15px 0 0px;
        &:not(:last-child) {
          margin: 0 0 15px 0;
          
        }
      }
    }
    &._active {
      @media (max-width: $md2+px) {
        visibility: visible;
        opacity: 1;
        transform: translateX(0);
      }
    }
    &-item {
      &:not(:last-child) {
        margin: 0 30px 0 0;
      }
    }
    &-link {
      color: #000;
      font-weight: 500;
      padding: 0 0 5px 0;
      background: linear-gradient(to right, currentColor, currentColor) 0 100%/0
        2px no-repeat;
      transition: 0.3s;
      @media (any-hover: hover) {
        &:hover {
          background-size: 100% 2px;
        }
      }
    }
  }
}

.icon-menu {
  display: none;
  @media (max-width: $md2+px) {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 40px;
    height: 28px;
    cursor: pointer;
    z-index: 5;
    span {
      transition: all 0.3s ease 0s;
      top: calc(50% - 1px);
      left: 0px;
      position: absolute;
      width: 100%;
      height: 4px;
      border-radius: 5px;
      background-color: #000;
      &:first-child {
        top: 0px;
      }
      &:last-child {
        top: auto;
        bottom: 0px;
      }
    }
    &._active {
      span {
        transform: scale(0);
        &:first-child {
          transform: rotate(-45deg);
          top: calc(50% - 1px);
        }
        &:last-child {
          transform: rotate(45deg);
          bottom: calc(50% - 1px);
        }
      }
    }
  }
}

.search-form {
  &__item {
    position: relative;
    max-width: 270px;
  }
  &__input {
    height: 30px;
    padding: 0 35px 0 15px;
    position: relative;
    border: 1px solid rgba($mainColor, 0.4);
    background: transparent;
    color: $mainColor;
    @media(max-width:$md4+px) {
      padding: 0 30px 0 8px;
      width: 200px;
    }
  }
  &__btn {
    position: absolute;
    z-index: 5;
    width: 15px;
    height: 15px;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.footer{
  height: 100vh;
  background-color: #555;
}
//====================================================================================================

//Burger
